.mainContent {
  // padding: 20px 0px;
  background: #F7F7F7;
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 20px;

    .everyCategory {
      display: flex;
      width: 46%;
      height: 200px;
      justify-content: space-between;
      position: relative;
      border-radius: 8px;
      background: #ebe9e9;
      background-repeat: no-repeat;
      background-size: cover;
      &::after{
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 8px;
        position: absolute;
        // background: #000;
        // opacity: 0.1;
        background: linear-gradient(180deg, rgba(107, 107, 107, 0.00) 0%, rgba(51, 46, 46, 0.23) 100%);
        top: 0;
        left: 0;
        z-index: 2;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 8px;
      }
      h4 {
        position: absolute;
        left: 0px;
        bottom: 12px;
        color:  #222;
        font-family: Gilroy;
        font-size: 23px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        width: 100%;
        // min-height: 25px;
        // max-height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        z-index: 3;
        // background: red;
        color: #FFF;
        text-align: center;
      }
    }
  }
}
