.container {
  padding: 0 15px;
}
@media screen and (max-width: 414px) {
  .container {
    padding: 0 10px;
  }
}
img {
  width: 100%;
  height: 100%;
}

button {
  border: none;
}
.logoImg {
  width: 168px;
  height: 124px;
  margin: 0 auto;
}
li {
  list-style: none;
}
